Source/cs/prace.synctex.gz
*.aux
*.log
*.xmpi
*.bbl
*.blg
*.lof
*.out
*.toc
*.acn
*.alg
*.glg
*.glo
*.gls
*.ist
*.acr
*.xdy
Source/cs/prace.pdf
Poster/PosterCreator/PosterCreator/PosterCreator/bin/*
Poster/PosterCreator/PosterCreator/PosterCreator/obj/*
.vs/*
*.suo
Poster/out.svg
Poster/poster.pdf